<!-- <!-- <div class="landing-page">
  <header>
    <div class="container">
      <a href="#" class="logo">Pratik <b>Tech</b></a>
      <ul class="links">
        <li><a routerLink="/">Home</a></li>
        <li>About Us</li>
        <li>Work</li>
        <li>Info</li>
        <li><button (click)="change()">Signup</button></li>
        <li><button (click)="change1()">Signin</button></li>

      </ul>
    </div>
  </header> 
  
</div> -->

<!-- End Landing Page -->

<router-outlet></router-outlet>
<!-- <app-signup></app-signup>
<app-signin></app-signin> -->