<div class="landing-page">
  <header>
    <div class="container">
      <a href="#" class="logo">Gaurav F <b>Tech</b></a>
      <ul class="links">
        <li><a routerLink="/Home">Home</a></li>
        <li>About Us</li>
        <li>Work</li>
        <li>Info</li>
        <li><button class="signup" (click)="change()">Signup</button></li>
        <li><button (click)="change1()">Signin</button></li>

      </ul>
    </div>
   </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Looking For Inspiration</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
          <button >Resume</button>
        </div>
        <div class="image">
          <img src="https://i.postimg.cc/65QxYYzh/001234.png">
        </div>
      </div>
    </div>
  </div>